/*GLOBAL
=========*/

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px 10px 0px 15px;
}


/*BODY
=======*/

/*NAVIGATION BAR
-----------------*/

.nav-custom {
    position: fixed;
    width: 100%;
    background: url("./images/nav-bg.png");
    background-size: cover;
    background-color: transparent !important;
    z-index: 10;
}

.nav-custom a {
    color: white !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-brand img {
    padding-right: 15px;
    width: 30px;
}



/*HERO BANNER
==============*/

.jumbotron {
    background-image: url(../images/hero-image.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    /*height: 500px;*/
    height: calc(100vh - 25px);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.jumbo-copy-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 35%;
}

.jumbo-copy-left {
    margin-right: auto;
}