/*GLOBAL
=========*/

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px 10px 0px 15px;
}

/*CSS Variables*/

:root {
    --hover-color: orange;
}


/*BODY
=======*/

/*NAVIGATION BAR
-----------------*/

.nav-custom {
    position: fixed;
    width: 100%;
    background: url("../images/nav-bg.png");
    background-size: cover;
    background-color: transparent !important;
    z-index: 10;
}

.nav-custom a {
    color: white !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-brand img {
    padding-right: 15px;
    width: 30px;
}

/*Customise the dropdown menu*/

.dropdown-menu {
    background: url("../images/nav-bg.png");
    background-color: transparent !important;
    background-size: cover;
}
  
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: var(--hover-color);
}
  
/*Adding hover functionality to the navbar links*/
  
.navbar .navbar-nav .nav-link:hover {
      background-color: var(--hover-color);
}
  
.navbar .navbar-brand:hover {
      background-color:rgba(0, 0, 0, 0.244);
}

/*To make the hover effect cover most of the navbar height
  But only on larger screens*/
  
@media screen and (min-width: 992px) {
    .navbar {
      margin: 0;
    }
  
    .navbar .navbar-nav .nav-link {
      padding: 1em;
    }
}



/*HERO BANNER
==============*/

/*HERO IMAGE
-------------*/

.jumbotron-fluid {
    background-image: url("../images/hero-image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 1px);   
    text-align: center;
    padding-top: 8.5em;    
}

/*To ensure that the background image is centred rather than cropped for smaller screens*/
@media screen and (max-width: 992px) {
    .jumbotron-fluid {
        background-position: center;
    }
}

.jumbo-copy {
    background-color:white;
    opacity: 0.7;
    padding: 0px;
    color:rgb(7, 6, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.btn-primary.btn {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.display-4 {
    font-size: 35px;
}

/*PORTFOLIO
------------*/

h2 {
    display: inline-block;
    border-bottom: 2px solid cadetblue;
    padding-top: 20px;
}

.cardContainer {
    margin-top: 20px;
}

/*SKILLS
---------*/

/*To get rid of the bulletpoints on the list, so they can be replaced by the icons*/
.skill-list {
    list-style: none;
}

h3 {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}

.skill-list i {
    font-size: 30px;
    padding: 10px;
}

/*ABOUT ME & CONTACT
-----------*/

.hor-card {
    margin-top: 10px;
}

/*FOOTER
=========*/

.txt-center {
    text-align: center;
}

.icon-img {
    width: 30px;
}

.txt-center a {
    display: inline-block;
}

.txt-center a:hover {
    background-color: gray;
}

footer {
    padding: 20px;
    margin: 10px;
}

a #my-email:hover {
    text-shadow: #16181b;
}



